<div class="container">
  <div class="row">
    <div class="col text-center mt-4 mb-2">
      <h2>TimeTracker Application</h2>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a routerLink="/time-tracker">Time Tracker</a> |
      <a routerLink="/stats/show">Stats</a>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

