<div class="row justify-content-center">
  <div class="col-4">
    <form #form="ngForm" (ngSubmit)="handleFormSubmit(form)" [ngClass]="{'was-validated': form.submitted}">
      <div class="mb-3 row">
        <label for="login" class="col-3 col-form-label">login</label>
        <div class="col">
          <input type="text" class="form-control" id="login" name="login" ngModel required #login="ngModel">
        </div>
        <div *ngIf="login.invalid && form.submitted" class="alert alert-danger">
          brak hasła
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-3 col-form-label">password</label>
        <div class="col">
          <input type="text" class="form-control" data-cy="test" id="password" name="password" ngModel required>
        </div>
      </div>
      <button type="submit" class="btn" [ngClass]="{'btn-secondary' : !form.valid, 'btn-primary': form.valid}">login</button>
    </form>
  </div>
</div>
